body{
    background-color: #f8f8f8;
}
#content{
    min-height: 79%;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #999;
}
.navbar-brand {
    padding: 2px 0 !important;
}
#footer{
    box-shadow: 0 -10px 6px -6px #ccc;
    border-top: 0;
    text-align: center;
    padding: 20px 0 10px 0;
}
#footer li{
    display:inline;
}
#content a, #footer a{
    color:#337ab7 !important;
    text-decoration:none;
}
#content a:hover,#content a:focus, #footer a:hover, #footer a:focus{
    color:#001f6a !important;
    text-decoration:none;
}
.info {
    background: #f8f8f8 !important;
    color: #333 !important;
    padding: 50px 70px;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.09);
}
.info .tab {
    font-size: 18px;
    font-weight:bold;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
}
.info .tab.active{
    border-bottom: 2px solid #ffaf8e;
}
form, .btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-control:focus, #search-navbar #search_field:focus {
    border-color: #ffaf8e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 193, 167, 0.6);
    outline: 0;
}
.form-group {
    margin:10px 0 !important;
}
input.form-control{
    margin-bottom: 10px !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    background: rgba(255,255,255,.1) !important;
    height: 40px;
}
.btn{
    min-width: 80px;
}
.btn-success {
    color: #333;
    background-color: #ffc1a7 !important;
    border-color: #ffaf8e;
}
.btn-success:hover {
    color: #333;
    background-color: #ffcdb8 !important;
    border-color: #ffaf8e;
}
label{
    color: #888;
}
hr{
    margin-bottom: 20px;
}
.bg-danger, .alert-danger{
    padding: 5px;
    border-radius: 5px;
}
#content a.btn,#content a.btn:hover{
    color: #333!important;
    white-space: normal;
}
.hospital img{
    width: 70px;
}

small{
    font-size: 12px;
    display: block;
    color: #999999;
}

.btn-wizard {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    display: block;
    width: 100%;
    white-space: normal;
    margin-bottom: 10px;
    min-height: 140px;
    padding: 5px;
}

.idp-logo {
    vertical-align: middle;
    text-align: center;
    width: 50px;
    display: block;
    margin: auto;
    padding-bottom: 5px;
}